@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import "satoshi.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  display: none;
}

body {
  scrollbar-width: none;
  @apply font-body font-normal antialiased bg-white;
}

.border_gradient {
  background: transparent;
  background-image: linear-gradient(45deg, white, white),
    linear-gradient(45deg, #ee7f09, #ffbb00);
  background-clip: padding-box, border-box;
  background-origin: border-box;
  border: 2px solid transparent;
  border-radius: 999999px;
}
